.DS_Store
*.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

generated/Sources/*
!generated/Sources/SwiftWinUIApplication/
generated/Resources/*.dll
generated/Resources/*.pri
.nuget-packages
.swift-winrt
